body {
    margin: 0;
    padding: 0;
    background-color: rgb(211, 94, 203);
 }
 .header-part{
    flex-direction: column;
    align-items:center;
    display: flex;
 }
 .picture img{
    width: 300px;
    height:auto;
 }
.nav{
    display: flex;
}
nav ul{
    padding: 0;
}
  nav li {
    display: inline;
}
   nav li a{
    font-size:x-large;
    padding-right:40px;
    display: inline;
    text-decoration: none;
    color: black;
}
.content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.personal-info{
    color: black;
}
.picture {
    margin: 10px;
    width: 100px;
    padding-left:1000px;
}
 h2 {
    color: black;
 }
 .maincontent {
    color: black;
 }
 .maincontent ul{
    list-style: none;
 }
 .maincontent ul a{
    text-decoration: none;
    color: black;
 }
 .footer-content {
    display: flex;
    justify-content: space-between;
    color:black;
}
.footer-item{
    margin: auto;
}
.rschool img{
width: 50px;
height: 30px;
}

